<div class="clearfix"></div>
<div class="footer">
    <footer>
        <div class="footer">
            <div class="bot-bar">
                <div class="row">
                    <div class="col-xs-4">
                        &copy; 2015 Ziba
                    </div>
                    <div class="col-xs-8">
                        <div class="pull-right footer-nav">
                            <ul>
                                <li><a href="#/contact">Contact Us</a>
                                </li>
                                <li><a href="">Company</a>
                                </li>
                                <li><a href="#/returns">Return &amp; Policy</a>
                                </li>
                                <li><a href="#/delivery">T&amp;C</a>
                                </li>
                                <li><a href="">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>

    <!--
    
    <div class="newsletter  fadeInDown {{bottommenu}}" myfirstloadclass data-wow-delay="0.6s">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-center fotternav"><a href="#returns" ng-class="returnsactive">RETURNS</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#delivery" ng-class="deliveryactive">DELIVERY</a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="text-center">{{msgg}}
                </div>
            </div>
            <div class="col-xs-6">
                <span style="position:absolute;right:270px;">Worldwide Shipping<span>
                        <div class="text-center">Sign up for our newsletter! &nbsp;&nbsp;&nbsp;
                            <input type="email" class="form-control newsletteremail" ng-model="uemail" placeholder=""> <a class="btn btn-primary" ng-click="newsletter(uemail)">Subscribe</a>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
-->

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54886004-1', 'auto');
        ga('send', 'pageview');
        console.log("ABC");
    </script>
    
</div>