<div class="clearfix"></div>
<div class="footer">
    <footer>
        <div class="footer">
            <div class="bot-bar">
                <div class="row">
                    <div class="col-xs-4">
                        &copy; 2015 Ziba
                    </div>
                    <div class="col-xs-8">
                        <div class="pull-right footer-nav">
                            <ul>
                               <li class="fb-icon"><i class="fa fa-facebook"></i></li>
                               <li class="twit-icon"><i class="fa fa-twitter"></i> </li>
                               <li class="insta-icon"><i class="fa fa-instagram"></i> </li>
                                <li><a href="#/contact">Contact Us</a>
                                </li>
                                
<!--
                                <li><a href="">Company</a>
                                </li>
                                <li><a href="#/returns">Return &amp; Policy</a>
                                </li>
                                <li><a href="#/delivery">T&amp;C</a>
                                </li>
                                <li><a href="">FAQ</a>
                                </li>
-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54886004-1', 'auto');
        ga('send', 'pageview');
        console.log("ABC");
    </script>
    
</div>