<nav>
    <div class="row">
        <div class="col-xs-12">

            <div style="position:absolute;">
                <div class="logo">
                    <div style="height:240px"></div>
                </div>
                <div class="menu">
                    <ul>
                        <span ng-include src="template.navigation"></span>
                        
                        <li>Newsletter</li>
                        <form ng-submit="newsletter(uemail);">
                            <input type="text" placeholder="email address" ng-model="uemail" required>
                        </form>
                        
                    </ul>
                </div>
            </div>

            <img src="img/bg-menu.jpg" alt="" class="img-responsive">
        </div>
    </div>

</nav>
