<div class="header">
    <div class="">
        <div class="row">
            <div class="col-xs-3">
                <div class="fixer">
                    <div class="logo">
                        <a href="#/home" class="" ng-class="ishome" id="totop">
                            <img src="img/logo.jpg" />
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <span ng-include src="template.navigation"></span>
                            <li>Newsletter</li>
                            <form ng-submit="newsletter(uemail);">
                                <input type="text" placeholder="email address" ng-model="uemail" required>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-xs-9 min-high">
                <div ng-include src="template.content"></div>
            </div>
        </div>
    </div>
</div>