<section>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/ihz2.jpg" alt="" class="img img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/ihz3.jpg" alt="" class="img img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/ihz4.jpg" alt="" class="img img-responsive">
            </div>
        </div>
</section>