<div ng-controller="navigationctrl">
    <li><a href="#/home">Home</a>
    </li>
    <li><a href="#/category/31">New In</a>
    </li>
    <li><a href="#/category/1">Jewellery</a>
      <ul class="drop-down">
        <li><a href="#category/2">Necklaces</a>
        </li>
        <li><a href="#category/3">Bracelet</a>
        </li>
        <li><a href="#category/4">Earrings</a>
        </li>
        <li><a href="#category/5">Rings</a>
        </li>
    </ul>
    </li>
    <li><a href="#/category/6">Accesories</a>
        <ul class="drop-down">
        <li><a href="#/category/7">bags</a>
        </li>
        <li><a href="#/category/8">Scarves</a>
        </li>
        <li><a href="#/category/32">Hair</a>
        </li>
        <li><a href="#/category/33">Phone Cases</a>
        </li>
    </ul>
    </li>
    <li><a href="#/lookbook">Lookbook</a>
    </li>
    <li><a href="#/iheartziba"><span class="lowercase">iheartziba</span></a>
    </li>
</div>