<section>
        <div class="row">
            <div class="col-xs-12">
                <a href="#/iheartziba"> <img src="img/ihz.jpg" alt="" class="img img-responsive"></a>
            </div>
        </div>
        <div class="row no-pad">
            <div class="col-xs-6">
                <a href="#/category/6">  <img src="img/home-banner2.jpg" alt="" class="img img-responsive"></a>
            </div>
            <div class="col-xs-6">
                <a href="#/lookbook">  <img src="img/home-banner1.jpg" alt="" class="img img-responsive"></a>
            </div>
        </div>
</section>